@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700&display=swap');

.contact-form {
    height: 100%;
}

.contact-form input {
    display: block !important;  
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

.contact-form textarea {
    display: block !important;  
    margin-top: 5px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

.contact-form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: #3e8dc1;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    width: 15%;
    padding: 5px;
    border-radius: 5px;
}