@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700&display=swap');

.contact-form {
    height: 100%;
}

.contact-form input {
    display: block !important;  
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    display: block !important;  
    margin-top: 10px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type=submit] {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background-color: #3e8dc1;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.contact-form input[type=submit]:hover {
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.15);
}