.rt-resizable-header-content {
    font-weight: bold;
}

.ReactTable .rt-thead.-header {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.05)
}

.ReactTable {
    text-align: center;
}

.ReactTable .rt-td {
    white-space: unset;
    word-wrap: break-word;
}