@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700&display=swap');

html {
  font-family: 'Source Sans Pro', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 501px) {
  .header-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-desktop {
    display: none;
  }
}

/* Make nav bar sticky */
.header-desktop, .header-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}

p {
  font-size: 1.15em;
}

ul {
  font-size: 1.15em;
}

ol {
  font-size: 1.15em;
}